<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="menu">
    {% if search_results %}
        <table>
            <tr>
            <th>Aluno</th>
            <th>1°</th>
            <th>2°</th>
            <th>3°</th>
            <th>4°</th>
            <th>5°</th>
            <th>6°</th>
            <th>7°</th>
            <th>8°</th>
            <th>PM</th>
            </tr>
            {% for row in search_results %}
                <tr>
                <td>{{ row.nome }}</td>
                <td>{{ row.prova1 }}</td>
                <td>{{ row.prova2 }}</td>
                <td>{{ row.prova3 }}</td>
                <td>{{ row.prova4 }}</td>
                <td>{{ row.prova5 }}</td>
                <td>{{ row.prova6 }}</td>
                <td>{{ row.prova7 }}</td>
                <td>{{ row.prova8 }}</td>
                <td>{{ row.pm }}</td>
                </tr>
            {% endfor %}
    {% else %}
        <p>Nenhum aluno encontrado.</p>
    {% endif %}
    </table>
</div>
</body>
</html>