<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Alteração de dados do Aluno</title>

</head>
<body>
    <form action="" method="post">
        <button name="voltar" type="submit">Voltar para Área do Professor</button>
    </form>
    <form action="" method="post">
        <button name="retornar" type="submit">Voltar para turmas</button>
    </form>
<p>{{ nome }}</p>
    <form action="" method="post">
    <label for="prova_aluno">PROVA</label>
    <select id="prova_aluno" name="prova_aluno">
        <option value="" selected></option>
        <option value="prova1">prova1</option>
        <option value="prova2">prova2</option>
        <option value="prova3">prova3</option>
        <option value="prova4">prova4</option>
        <option value="prova5">prova5</option>
        <option value="prova6">prova6</option>
        <option value="prova7">prova7</option>
        <option value="prova8">prova8</option>
    </select>
        <label for="pm_aluno">PM</label>
        <select id="pm_aluno" name="pm_aluno">
            <option value="" selected></option>
        <option value="pm1">pm1</option>
        <option value="pm2">pm2</option>
        <option value="pm3">pm3</option>
        <option value="pm4">pm4</option>
        <option value="pm5">pm5</option>
        <option value="pm6">pm6</option>
        <option value="pm7">pm7</option>
        <option value="pm8">pm8</option>
        <option value="pm">pm_total</option>
        </select>
        <label for="coroa_aluno">Coroa</label>
        <select id="coroa_aluno" name="coroa_aluno">
            <option value="" selected></option>
        <option value="coroa1">coroa1</option>
        <option value="coroa2">coroa2</option>
        <option value="coroa3">coroa3</option>
        <option value="coroa4">coroa4</option>
        <option value="coroa5">coroa5</option>
        <option value="coroa6">coroa6</option>
        <option value="coroa7">coroa7</option>
        <option value="coroa8">coroa8</option>
        </select>
        <label for="beneficio_aluno">Benefícios</label>
        <select id="beneficio_aluno" name="beneficio_aluno">
            <option value="" selected></option>
        <option value="beneficios1">beneficios1</option>
        <option value="beneficios2">beneficios2</option>
        <option value="beneficios3">beneficios3</option>
        <option value="beneficios4">beneficios4</option>
        <option value="beneficios5">beneficios5</option>
        <option value="beneficios6">beneficios6</option>
        <option value="beneficios7">beneficios7</option>
        <option value="beneficios8">beneficios8</option>
        </select>
        <label for="boss_aluno">Boss</label>
        <select id="boss_aluno" name="boss_aluno">
            <option value="" selected></option>
        <option value="boss_vitoria">boss_vitoria</option>
        <option value="boss_total">boss_total</option>
        </select>
        <label for="coroas_aluno">Coroas</label>
        <select id="coroas_aluno" name="coroas_aluno">
            <option value="" selected></option>
        <option value="coroa_ouro">coroa_ouro</option>
        <option value="coroa_prata">coroa_prata</option>
        <option value="coroa_bronze">coroa_bronze</option>
        </select>
        <label for="elite">Elite</label>
        <select id="elite" name="elite">
            <option value="" selected></option>
            <option value="boss_elite">boss_elite</option>
            <option value="coroas_elite">coroas_elite</option>
        </select>
        <label for="valor">Valor</label>
        <input type="text" id="valor" name="valor" required>
    <button name="dado_alterar">Alterar dado</button>
    </form>

</body>
</html>