<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ class_name }} Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="data:,">
    <style>
        body {
    max-width: 100%;
    overflow-x: hidden; /* Para evitar a barra de rolagem horizontal em dispositivos móveis */
}
    </style>
</head>
<body>
<div class="menu">
    <table id="desempenho">
        <tr>
            <th>DESEMPENHO DA TURMA - {{ class_name }}</th>
        </tr>
        {% for i in range(tamanho) %}
        <tr>
            <td id="semana" >SEMANA {{ i + 1 }}</td>
        </tr>
        <tr>
            <td>MÉDIA: {{ estatisticas[i][0] }}</td>
        </tr>
        <tr>
            <td>MEDIANA: {{ estatisticas[i][1] }}</td>
        </tr>
        <tr>
            <td>MODA: {{ estatisticas[i][2] }}</td>
        </tr>
        <tr>
            <td>DESVIO-PADRÃO: {{ estatisticas[i][3] }}</td>
        </tr>
        {% endfor %}

    </table>

    <table>
            <tr>
                <th>Aluno</th>
                <th>1°</th>
                <th>2°</th>
                <th>3°</th>
                <th>4°</th>
                <th>5°</th>
                <th>6°</th>
                <th>7°</th>
                <th>8°</th>
                <th>Média</th>
            </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row.nome }}</td>
                    <td>{{ row.prova1 }}</td>
                    <td>{{ row.prova2 }}</td>
                    <td>{{ row.prova3 }}</td>
                    <td>{{ row.prova4 }}</td>
                    <td>{{ row.prova5 }}</td>
                    <td>{{ row.prova6 }}</td>
                    <td>{{ row.prova7 }}</td>
                    <td>{{ row.prova8 }}</td>
                    <td>{{ media_alunos[loop.index0]['media'] }}</td>
                </tr>

            {% endfor %}
        </table>
</div>
<!-- Content for the specific class page -->

</body>
</html>