<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATEMÁTICA - EREM JOAQUIM TÁVORA</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .menu ul ul li {
    display: inline-block;
    white-space: nowrap;
    }
    </style>
</head>
<body>

<div class="menu">
    <div class="item" >
        <h1>Matemática - Joaquim Távora</h1>
        <h2>Prof. Diego Silva</h2>
    </div>

        <ul>
            <li><a href="#" onclick="toggleSubMenu('turmas')">Dados gerais</a>
                <ul id="turmas">
                    {% for class_name, class_url in classes.items() %}
                        <li><a href="{{ class_url }}">{{ class_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li><a href="#" onclick="toggleSubMenu('busca')">Busca Individual (Aluno)</a>
                <ul id="busca">
                    <li>

                    <form action="" method="post">
                    <input type="text" id="aluno_id_input" name="aluno_id_input" required>
                    <button name="search" type="submit">Buscar</button>
                    </form>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ url_for('downloads') }}">Listas de exercícios</a>
            </li>
        </ul>
    </div>
<script>
    function toggleSubMenu(id) {
        var submenu = document.getElementById(id);
        if (submenu.style.display === 'block') {
            submenu.style.display = 'none';
        } else {
            submenu.style.display = 'block';
        }
    }
</script>

</body>
</html>