<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Área do professor</title>
    <style>
        .low_width {
            display: inline-block;
            width: 30px;
        }
    </style>
</head>
<body>
<div class="menu">
    <ul>

        <li>
            <div>
            <a href="#">Senha</a>
            <form action="" method="post">
            <input type="text" id ="id_label_01" name="Password" required>
            <button type="submit">Acessar</button>
            </form>
            </div>
        </li>
        {% if login %}
        <li><a href="#" onclick="toggleSubMenu('turmas')">Adicionar Aluno</a>
            <ul id="submenu_turmas">
                <li>
                    <a href="#" onclick="toggleSubMenu('3A')">3A</a>
                    <ul id="submenu_3A">
                        <li><a href="#" onclick="mostrarFormulario('3A')">Adicionar Aluno - 3° A</a></li>
                        <li>
                            <form action="" method="post" id="form_3A" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 3A -->
                                <input type="text" name="Id" placeholder="Nome do Aluno" required>
                                <input type="hidden" name="class" value="a">
                                <button name="add" type="submit">Adicionar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubMenu('3B')">3B</a>
                    <ul id="submenu_3B">
                        <li><a href="#" onclick="mostrarFormulario('3B')">Adicionar Aluno - 3° B</a></li>
                        <li>
                            <form action="" method="post" id="form_3B" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 3B -->
                                <input type="text" name="Id" placeholder="Nome do Aluno" required>
                                <input type="hidden" name="class" value="b">
                                <button name="add" type="submit">Adicionar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubMenu('3C')">3C</a>
                    <ul id="submenu_3C">
                        <li><a href="#" onclick="mostrarFormulario('3C')">Adicionar Aluno - 3° C</a></li>
                        <li>
                            <form action="" method="post" id="form_3C" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 3C -->
                                <input type="text" name="Id" placeholder="Nome do Aluno" required>
                                <input type="hidden" name="class" value="c">
                                <button name="add" type="submit">Adicionar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubMenu('1D')">1D</a>
                    <ul id="submenu_1D">
                        <li><a href="#" onclick="mostrarFormulario('1D')">Adicionar Aluno - 1° D</a></li>
                        <li>
                            <form action="" method="post" id="form_1D" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 1D -->
                                <input type="text" name="Id" placeholder="Nome do Aluno" required>
                                <input type="hidden" name="class" value="d">
                                <button name="add" type="submit">Adicionar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#" onclick="toggleSubMenu('turmas_del')">Deletar Aluno</a>
            <ul id="submenu_turmas_del">
                <li>
                    <a href="#" onclick="toggleSubMenu('3A_2')">3A</a>
                    <ul id="submenu_3A_2">
                        <li><a href="#" onclick="mostrarFormulario('3A_2')">Deletar Aluno - 3° A</a></li>
                        <li>
                            <form action="" method="post" id="form_3A_2" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 3A -->
                                <input type="text" name="Id" placeholder="Id do Aluno" required>
                                <input type="hidden" name="turma" value="a">
                                <button name="delete" type="submit">Deletar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubMenu('3B_2')">3B</a>
                    <ul id="submenu_3B_2">
                        <li><a href="#" onclick="mostrarFormulario('3B_2')">Deletar Aluno - 3° B</a></li>
                        <li>
                            <form action="" method="post" id="form_3B_2" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 3B -->
                                <input type="text" name="Id" placeholder="Id do Aluno" required>
                                <input type="hidden" name="turma" value="b">
                                <button name="delete" type="submit">Deletar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubMenu('3C_2')">3C</a>
                    <ul id="submenu_3C_2">
                        <li><a href="#" onclick="mostrarFormulario('3C_2')">Deletar Aluno - 3° C</a></li>
                        <li>
                            <form action="" method="post" id="form_3C_2" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 3C -->
                                <input type="text" name="Id" placeholder="Id do Aluno" required>
                                <input type="hidden" name="turma" value="c">
                                <button name="delete" type="submit">Deletar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" onclick="toggleSubMenu('1D_2')">1D</a>
                    <ul id="submenu_1D_2">
                        <li><a href="#" onclick="mostrarFormulario('1D_2')">Deletar Aluno - 1° D</a></li>
                        <li>
                            <form action="" method="post" id="form_1D_2" style="display: none;">
                                <!-- Seu formulário para adicionar aluno para a turma 1D -->
                                <input type="text" name="Id" placeholder="Id do Aluno" required>
                                <input type="hidden" name="turma" value="d">
                                <button name="delete" type="submit">Deletar Aluno</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>Gerar ranking de PM:</a>
            <form action="" method="post">
            <label for="ranking_turma_a">3°A:</label>
                <input type="radio" id="ranking_turma_a" name="opcoes_ranking" value="a" required>
                <label for="ranking_turma_b">3°B:</label>
                <input type="radio" id="ranking_turma_b" name="opcoes_ranking" value="b" required>
                <label for="ranking_turma_c">3°C:</label>
                <input type="radio" id="ranking_turma_c" name="opcoes_ranking" value="c" required>
                <label for="ranking_turma_d">1°D:</label>
                <input type="radio" id="ranking_turma_d" name="opcoes_ranking" value="d" required><br>
            <button name="ranking" type="submit">Gerar</button>
            </form>
        </li>
        <li>
            <a>Gerar Mural:</a>
            <form action="" method="post">
            <label for="id_prova_mural">Prova:</label>
            <input type="text" id='id_prova_mural' class="low_width" name="prova_input" required><br>
            <label for="mural_turma_a">3°A:</label>
            <input type="radio" id="mural_turma_a" name="opcoes_mural" value="a" required>
            <label for="mural_turma_b">3°B:</label>
            <input type="radio" id="mural_turma_b" name="opcoes_mural" value="b" required>
            <label for="mural_turma_c">3°C:</label>
            <input type="radio" id="mural_turma_c" name="opcoes_mural" value="c" required>
            <label for="mural_turma_d">1°D:</label>
            <input type="radio" id="mural_turma_d" name="opcoes_mural" value="d" required><br>
            <button name="mural" type="submit">Gerar</button>
            </form>
        </li>
        <li>
            <a>Upload de arquivos</a>
            <form action="{{ url_for('upload_arquivo') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="arquivo">
            <input type="submit" value="Upload">
            </form>
        </li>
        <li>
            <a>Inserir Dados de Boss</a>
            <form action="" method="post">
                <label for="boss_turma_a">3°A:</label>
                <input type="radio" id="boss_turma_a" name="opcoes_boss" value="a" required>
                <label for="boss_turma_b">3°B:</label>
                <input type="radio" id="boss_turma_b" name="opcoes_boss" value="b" required>
                <label for="boss_turma_c">3°C:</label>
                <input type="radio" id="boss_turma_c" name="opcoes_boss" value="c" required>
                <label for="boss_turma_d">1°D:</label>
                <input type="radio" id="boss_turma_d" name="opcoes_boss" value="d" required><br>
                <label for="boss_id">Id:</label>
                <input type="text" class="low_width" id="boss_id" name="boss_id" required>
                <label for="boss_pm">PM:</label>
                <input type="text" class="low_width" id="boss_pm" name="boss_pm" required>
                <button name="boss" type="submit">Adicionar</button>
            </form>
        </li>
        <li>
            <a href="#" onclick="mostrarFormulario('dados_basicos')">Criar turmas</a>
                <form action="" id="form_dados_basicos" method="post" style="display: none;">
                    <input type="text" name="criar" placeholder="criar turmas" required>
                    <button name="criar" type="submit">Criar</button>
                </form>
        </li>
        <li>
            <a href="#" onclick="toggleSubMenu('csv')"> Exportar CSV</a>
                <ul id="submenu_csv">
                    <li>
                        <li><a href="#" onclick="mostrarFormulario('export_a')">Escolha turma</a></li>
                        <li>
                        <form action="" id="form_export_a" method="post" style="display: none;">
                            <input type="text" name="exportar" placeholder="turma" required>
                            <button name="exportar" type="submit">Enviar</button>
                        </form>
                    </li>
                </ul>

        </li>
        <li>
            <a>Inserir dados de prova</a>
            <form action="" method="post">
            <label for="prova_id">Prova:</label>
            <input type="text" id="prova_id" class="low_width" name="prova" required>
            <label for="turma_id_input" id="label_turma03">Turma:</label>
            <input type="text" id="turma_id_input" class="low_width" name="turma" required>
            <button name="start" type="submit">Começar</button>
            </form>
        </li>
            {% if prova %}
        <li>
            <a>Acrescentar nota:</a>
            <form action="" method="post">
            <label for="nota_input">Nota:</label>
            <input type="text" id="nota_input" class="low_width" name="nota" required>
            <label for="pm_input">PM:</label>
            <input type="text" id="pm_input" class="low_width" name="pm" required>
            <label for="id_input">Id:</label>
            <input type="text" id="id_input" class="low_width" name="id_aluno" required><br>
            <label for="calc">Calculadora</label>
            <input type="checkbox" id="calc" name="calc" value="1"><br>
            <label for="anular">Anular</label>
            <input type="checkbox" id="anular" name="anular" value="1"><br>
            <label for="formula">Fórmulas</label>
            <input type="checkbox" id="formula" name="formula" value="1"><br>
            <label for="caderno">Caderno</label>
            <input type="checkbox" id="caderno" name="caderno" value="1"><br>
            <button name="update" type="submit">Acrescentar</button>
            </form>
        </li>
            {% endif %}
    </ul>
        {% endif %}

</div>
<script>
    function toggleSubMenu(turma) {
        var submenu = document.getElementById('submenu_' + turma);
        if (submenu.style.display === 'block') {
            submenu.style.display = 'none';
        } else {
            submenu.style.display = 'block';
        }
    }

    function mostrarFormulario(turma) {
        var formulario = document.getElementById('form_' + turma);
        formulario.style.display = 'block';
    }
</script>
</body>
</html>