<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="data:,">
    <title>Área do professor</title>
    <style>
        .low_width {
            display: inline-block;
            width: 30px;
        }
    </style>
</head>
<body>
<div class="menu">
    <ul>
        {% if logged_in %}
                <li>
                    <a href="#" onclick="mostrarFormulario('adicionar')">Adicionar Aluno</a>
                        <form action="" method="post" id="form_adicionar" style="display: none;">
                                <label for="turmas_adcionar">Turma:</label>
                                <select id="turmas_adicionar" name="class" required>
                                <option value="a">3°A</option>
                                <option value="b">3°B</option>
                                <option value="c">3°C</option>
                                <option value="d">1°D</option>
                                </select>
                                <input type="text" name="Id" placeholder="Nome do Aluno" required>
                                <button name="add" type="submit">Adicionar</button>
                            </form>
                </li>
                <li>
                    <a href="#" onclick="mostrarFormulario('deletar')">Excluir Aluno</a>
                        <form action="" method="post" id="form_deletar" style="display: none;">
                                <label for="turmas_deletar">Turma:</label>
                                <select id="turmas_deletar" name="turma" required>
                                <option value="a">3°A</option>
                                <option value="b">3°B</option>
                                <option value="c">3°C</option>
                                <option value="d">1°D</option>
                                </select>
                                <input type="text" name="Id" placeholder="Id do Aluno" required>
                                <button name="delete" type="submit">Excluir</button>
                            </form>
                </li>
{#        <li>#}
{#            <a>Gerar ranking de PM:</a>#}
{#            <form action="" method="post">#}
{#            <label for="turmas_ranking">Turma:</label>#}
{#                <select id="turmas_ranking" name="ranking" required>#}
{#                <option value="a">3°A</option>#}
{#                <option value="b">3°B</option>#}
{#                <option value="c">3°C</option>#}
{#                <option value="d">1°D</option>#}
{#                </select>#}
{#            <button name="ranking" type="submit">Gerar</button>#}
{#            </form>#}
{#        </li>#}
        <li>
            <a>Gerar Mural:</a>
            <form action="" method="post">
            <label for="prova_mural">Prova:</label>
                <select id="prova_mural" name="prova_mural" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                </select>
            <label for="turmas_mural">Turma:</label>
                <select id="turmas_mural" name="turma_mural" required>
                <option value="a">3°A</option>
                <option value="b">3°B</option>
                <option value="c">3°C</option>
                <option value="d">1°D</option>
                </select>
                <label for="imagem_mural">Só imagem?</label>
                <select id="imagem_mural" name="imagem_mural" required>
                    <option value="Não">Não</option>
                    <option value="Sim">Sim</option>
                </select>
                <label for="elite_mural">ELITE?</label>
                <select id="elite_mural" name="elite_mural" required>
                    <option value="não">Não</option>
                    <option value="sim">Sim</option>
                </select>
                <button name="mural" type="submit">Gerar</button>
            </form>
        </li>
        <li>
            <a>Apurar alunos elite</a>
            <form action="" method="post">
                <select id="alunos_elite" name="alunos_elite" required>
                    <option value="a">3°A</option>
                    <option value="b">3°B</option>
                    <option value="c">3°C</option>
                    <option value="d">1°D</option>
                </select>
                <button name="elite" type="submit">Apurar</button>
            </form>
        </li>
        <li>
            <a>Inserir Dados de Boss</a>
            <form action="" method="post">
                <select id="turmas_boss" name="boss_turma" required>
                <option value="a">3°A</option>
                <option value="b">3°B</option>
                <option value="c">3°C</option>
                <option value="d">1°D</option>
                </select>
                <label for="boss_elite">ELITE?</label>
                <select id="boss_elite" name="boss_elite" required>
                    <option value="não">Não</option>
                    <option value="sim">Sim</option>
                </select>
                <button name="boss" type="submit">Adicionar</button>
            </form>
        <li>
        <a href="{{ url_for('manual') }}">Ajuste manual de dados</a>
        </li>
            <li>
            <a>Upload de arquivos</a>
            <form action="{{ url_for('upload_arquivo') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="arquivo">
            <input type="submit" value="Upload">
            </form>
        </li>
             <li>
                <a href="{{ url_for('download_professor') }}">Downloads</a>
            </li>
        <li>
            <a href="#" onclick="mostrarFormulario('dados_basicos')">Criar turmas</a>
                <form action="" id="form_dados_basicos" method="post" style="display: none;">
                    <label for="criar_turmas">Criar turmas:</label>
                    <select id="criar_turmas" name="criar_turmas" required>
                        <option value="a">3°A</option>
                        <option value="b">3°B</option>
                        <option value="c">3°C</option>
                        <option value="d">1°D</option>
                    </select>
                    <button name="criar" type="submit">Criar</button>
                </form>
        </li>
        <li>
            <a href="#" onclick="mostrarFormulario('export_a')">Exportar CSV</a>
                 <form action="" id="form_export_a" method="post" style="display: none;">
                       <label for="turmas_exportar">Turma:</label>
                            <select id="turmas_boss" name="exportar_turma" required>
                            <option value="a">3°A</option>
                            <option value="b">3°B</option>
                            <option value="c">3°C</option>
                            <option value="d">1°D</option>
                            </select>
                       <button name="exportar" type="submit">Enviar</button>
                 </form>
        </li>
        <li>
            <a href="#" onclick="mostrarFormulario('medias_a')">Exportar Medias</a>
                 <form action="" id="form_medias_a" method="post" style="display: none;">
                       <label for="turmas_medias">Turma:</label>
                            <select id="turmas_medias" name="exportar_media" required>
                            <option value="a">3°A</option>
                            <option value="b">3°B</option>
                            <option value="c">3°C</option>
                            <option value="d">1°D</option>
                            </select>
                       <button name="medias" type="submit">Enviar</button>
                 </form>
        </li>
        <li>
            <a>Inserir dados de prova</a>
            <form action="" method="post">
                <label for="turmas_inserir">Turma:</label>
                <select id="turmas_inserir" name="turma" required>
                    <option value="a">3°A</option>
                    <option value="b">3°B</option>
                    <option value="c">3°C</option>
                    <option value="d">1°D</option>
                </select>
                <label for="prova_inserir">Prova:</label>
                <select id="prova_inserir" name="prova" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <label for="elite_inserir">ELITE?</label>
                <select id="elite_inserir" name="elite" required>
                    <option value="não">Não</option>
                    <option value="sim">Sim</option>
                </select>
            <button name="start" type="submit">Começar</button>
            </form>
        </li>


    </ul>
        {% endif %}

</div>
<script>
    function toggleSubMenu(turma) {
        var submenu = document.getElementById('submenu_' + turma);
        if (submenu.style.display === 'block') {
            submenu.style.display = 'none';
        } else {
            submenu.style.display = 'block';
        }
    }

    function mostrarFormulario(turma) {
        var formulario = document.getElementById('form_' + turma);
        formulario.style.display = 'block';
    }
</script>
</body>
</html>