<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <style>
        /* Estilos adicionais, como fonte e espaçamento */
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .tamanho {
            width: 50px;
        }
    </style>
    <link rel="icon" href="data:,">
    <title>Prova</title>
</head>
<body>


{#            <tr>#}
{#                <th style="width: 5px">Id</th>#}
{#                <th style="width: 250px">Aluno</th>#}
{#                <th class="tamanho">Nota</th>#}
{#                <th class="tamanho">PM</th>#}
{#                <th class="tamanho">Benefícios</th>#}
{#                <th class="tamanho"></th>#}
{#            </tr>#}
    {% for row in resultados %}
        <form action="" method="post">
        <table>
            <tr>
                <td><input  class="tamanho" name="id" value="{{ row.id }}" readonly></td>
                <td style="width: 250px">{{ row.nome }}</td>
                <td><input type="text" name="nota"  class="tamanho" placeholder="nota"></td>
                <td><input type="text" name="pm" class="tamanho" placeholder="pm"></td>
                <td><select id="beneficios" name="beneficios" class="tamanho">
                <option value="" selected>
                <option value="calc">Calculadora</option>
                <option value="anular">Anular</option>
                <option value="caderno">Caderno</option>
                <option value="formula">Fórmula</option>
                </select></td>
                <td><input name="elite" class="tamanho" value="{{ elite }}" readonly></td>
                <td><button name="acrescentar" type="submit">Acrescentar</button></td>
            </tr>
        </table>
        </form>
    {% endfor %}
</body>
</html>